.master {
    width: 70%;
    height: 100%;
    overflow-y: scroll;
    position: fixed;
    right: 0;
    top: 0;
    background: #fff;
    transition: all 1ms ease;
    transform: translate3d(100%, 0, 0);
    z-index: 100;
    .name {
        margin-left: 1px;
        font-size: .28rem;
        line-height: .48rem;
        background: #f2f2f2;
        padding-left: .3rem;
        color: #717171;
    }
    ul {
        margin-left: .1rem;
    }
    li {
        height: 1.4rem;
        box-sizing: border-box;
        border-bottom: 1px solid #ddd;
        display: flex;
        align-items: center;
        img {
            margin: 0 .1rem 0 .2rem;
            width: 1.8rem;
            height: 1.2rem;
        }
        p:first-child {
            font-size: .34rem;
            color: #5f687a;
        }
        p:nth-child(2) {
            margin-top: .1rem;
            font-size: .28rem;
            color: red;
        }
    }
}

.active {
    transform: translate3d(0, 0, 0)
}